body {
    font-family: Arial, sans-serif;
  }
  form {
    width: 300px;
    margin: 0 auto;
  }
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 70%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }
  input[type=submit]:hover {
    opacity: 0.8;
  }
  h1{   
    /* used the selector for centering this... */
    text-align: center;
    justify-content: center;
  }
